<div class="deposit"  style="background-color: #d5f0f5;">
    <p style="color: white; background-color: black; text-align: center;">Transection</p>
    <p style="color: red; text-align: center;">{{message}}</p>
    <div style="padding: 6px 60px;">
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group">
            <label for="accountType">Account Type:</label>
            <select id="accountType" class="form-control" [(ngModel)]="acountType" name="acountType" required>
              <option value="Primary">Primary</option>
              <option value="Saving">Saving</option>
            </select>
          </div>
        <div class="form-group">
          <label for="creditCard">Acount Number:</label>
          <input type="number" id="acNumber" class="form-control" [(ngModel)]="acNumber" name="acNumber" required>
        </div>
  <br>
        <div class="form-group">
          <label for="amount">Confirm Acount Number:</label>
          <input type="number" id="confirmAcNumber" class="form-control" [(ngModel)]="confirmAcNumber" name="confirmAcNumber" required>
        </div>
        <br>
        <div class="form-group">
            <label for="amount">Amount to Add:</label>
            <input type="number" id="amount" class="form-control" [(ngModel)]="amount" name="confirmAcNumber" required>
          </div>
        <br>
        <div class="center-button" >
          <button type="button" class="btn btn-primary" (click)="closeDialog()">Close</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid || submitDisable">Submit</button>
        </div>
      </form>
    </div>
  </div>
